html
  head
    title Name Form
  body
    h1 Enter Your Name
    form(action="/" method="POST")
      label(for="name") Name:
      input(type="text" id="name" name="name")
      button(type="submit") Submit